<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
      <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/microservice</property>
      <property name = "hibernate.connection.username">root</property>
	  <property name = "hibernate.connection.password">demo</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
       <property name="connection.url">jdbc:mysql://localhost:3306/microservice?useSSL=false</property>
      <property name="show_sql">true</property>
      <property name="hibernate.current_session_context_class">thread</property>
     <property name="packagesToScan">com.microservice.phonekart.cartservice.models</property>
    
       <mapping class="com.microservice.phonekart.cartservice.models.Order"/>
            
   </session-factory>
</hibernate-configuration>